input[type=text] , input[type=password]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color:  #5a5b61c4;
    color: rgb(255, 255, 255);
    
    
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255,255,255);
    opacity: 1; 
  }


  .lbl {
      margin: 0;
      padding:5px;
;  }
.head {
    
    background-color: #5a5b61c4; // #7c7a814f;
    color:  rgb(255, 255, 255);
    text-align: center;
    //margin-top: -.75rem;
    height: 45px
  
}


.bodyImg{
        background-position: center;
    
        background: url("../../assets/img/loginImg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #5a5b618a;
    
        background-blend-mode: multiply;
        display:inline-block;
        
        //background: linear-gradient(rgba(249, 119, 76,.75), rgba(128, 42, 12,.85));
    
}
.email {
    color: rgb(255, 255, 255);
}


  span.psw {
    float: right;
    padding-top: 16px;
  }
  Button {
    background-color: #3663f8; 
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.5%;
    width: 30%;
    height: 50px;
    
  }
  .errorDiv {
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    display: none;
  }
  .errorLbl {
      color: #fa8500;
  }