<ion-header>
  <ion-toolbar>
    <ion-title>Project Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Hello! this is the mobile / web app On The Hunt created by Lucas Pobanz for the 2020 Buisness Professional of America mobile app competition. 
  It is a geolocation scavanger hunt game that was created in a little over a month and is a functional but unfinished project. 
  it was coded in the ionic framework using html/css/javascript with angular js.
  In May of 2020 it was awarded 1st place mobile application in the nation at the BPA nationals.
  To play the game hit the previous page button on your browser to bring you back to the home page and press "Login".
  This will take you to a login screen where you can enter an email and password and create an account or login to a previous one (you can use a @test email and any 8 char password if you want an anonymous account ). 
  After logging in, you can create a new game or play a game. The create game option is functional but the UI is unfinished and not all the features are developed.
  The play game page will take you to a find game page where you can search through the test games I created and can choose one to view. 
  I hope you enjoy this project. Thanks!

</ion-content>
